*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: #253237;
}

img{
    width: 100%;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

body{
    padding-top: 100px;
    padding-bottom: 130px;
    background-color: #F8FAFC;
    min-height: 100vh;
    position: relative;
}

header{
    background: white;
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transition: 0.2s;
}

header.hide{
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}



.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    color: #94A3B8;
}

.navbar .logo h1{
    color: black !important;
}

.navbar .nav_links{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    font-size: 18px;
    font-weight: 500;
    color: #94A3B8;
}

.navbar .nav_icons{
    display: flex;
    gap: 20px;
}

.navbar .nav_icons span svg{
    font-size: 24px;
    cursor: pointer;
    /* fill: #94A3B8; */
    color: black;
}

.navbar .nav_icons .profile_icon svg{
    font-size: 45px;
    color: #6a22ad;
}

.navbar .search_box{
    position: relative;
    width: 40%;
    max-width: 500px;
}

.navbar .search_box input{
    width: 100%;
    height: 50px;
    font-size: 18px;
    border-radius: 25px;
    outline: none;
    border: 1px solid black;
    /* background: #334155; */
    padding: 3px 15px;
}

.navbar .search_box button{
    height: 50px;
    width: 40px;
    border-radius: 0 25px 25px 0;
    outline: none;
    border: none;
    background: transparent;
    position: absolute;
    right: 10px;
    top: 0;
    cursor: pointer;
}

.navbar .search_box button svg{
    font-size: 22px;
}



footer{
    background: #0f172a;
    color: white;
    /* margin-top: 10px; */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
footer .container{
    padding: 10px 50px;
    gap: 10px;
    display: flex;
    justify-content: space-between;
}

footer .main{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

footer .social{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

footer .social .icons{
    display: flex;
    justify-content: space-between;
}

footer .social .icons svg{
    font-size: 30px;
}



@media screen and (max-width: 900px) {
    footer .container{
        width: 100%;
        padding: 10px 20px;
    }
}

@media screen and (max-width: 760px) {
    footer .container h1{
        font-size: 24px;
    }
    footer .social h1{
        text-wrap-mode: nowrap;
    }
}

@media screen and (max-width: 640px) {
    .navbar{
        flex-wrap: wrap;
    }
    .navbar .search_box{
        width: 80%;
        order: 2;
        margin: auto;
        margin-top: 10px;
    }
    .navbar .search_box input{
        font-size: 16px;
    }
    body{
        padding-top: 150px;
    }
    footer .social .icons svg{
        font-size: 22px;
    }
}

@media screen and (max-width: 500px) {
    footer .container{
        flex-direction: column;
        gap: 30px;
    }
    body{
        padding-bottom: 245px;
    }
    footer .social .icons{
        max-width: 250px;
    }
}